<div class="form-group">
  <%= f.label :places, class: "col-md-2 control-label" %>
  <div class="col-md-6">
    <%= f.text_area :places, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :gender, class: "col-md-2 control-label" %>
  <div class="col-md-6">
    <%= f.select :gender,
      Targeting.genders.keys.map { |w| [w.humanize, w] }, {},
      class: "form-control"  %>
  </div>
</div>
