<div class="row">
  <%= render layout: 'header', locals: { title: 'New Ad'} do %>
    <%= link_to ads_path, class: "btn btn-default" do %>
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
    <% end %>
  <% end %>

  <%= render 'form' %>
</div>
